/**
 * @license
 * MyFonts Webfont Build ID 4106783, 2021-06-21T11:30:56-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: CeraPRO-Black by TypeMates
 * URL: https://www.myfonts.com/fonts/typemates/cera/pro-black/
 * Copyright: Copyright (c) 2015 by Jakob Runge, under exclusive license to TypeMates, Runge Thomsen GbR. All rights reserved.
 * 
 * Webfont: CeraPRO-Bold by TypeMates
 * URL: https://www.myfonts.com/fonts/typemates/cera/pro-bold/
 * Copyright: Copyright (c) 2015 by Jakob Runge, under exclusive license to TypeMates, Runge Thomsen GbR. All rights reserved.
 * 
 * Webfont: CeraPro-Light by TypeMates
 * URL: https://www.myfonts.com/fonts/typemates/cera/pro-light/
 * Copyright: Copyright (c) 2015, 2018 by Jakob Runge, under exclusive license to TypeMates. All rights reserved.
 * 
 * Webfont: CeraPro-Regular by TypeMates
 * URL: https://www.myfonts.com/fonts/typemates/cera/pro-regular/
 * Copyright: Copyright (c) 2015, 2018 by Jakob Runge, under exclusive license to TypeMates. All rights reserved.
 * 
 * 
 * 
 * © 2021 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3eaa1f");
  
@font-face {
  font-family: "CeraPro-Regular";
  src: url('webFonts/CeraProRegular/font.woff2') format('woff2'), url('webFonts/CeraProRegular/font.woff') format('woff');
}
@font-face {
  font-family: "CeraPRO-Bold";
  src: url('webFonts/CeraPROBold/font.woff2') format('woff2'), url('webFonts/CeraPROBold/font.woff') format('woff');
}
@font-face {
  font-family: "CeraPRO-Black";
  src: url('webFonts/CeraPROBlack/font.woff2') format('woff2'), url('webFonts/CeraPROBlack/font.woff') format('woff');
}
@font-face {
  font-family: "CeraPro-Light";
  src: url('webFonts/CeraProLight/font.woff2') format('woff2'), url('webFonts/CeraProLight/font.woff') format('woff');
}

